* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  min-width: 100%;
  height: 6rem;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem 0 3rem;
}
.nav-right {
  display: flex;
  gap: 3rem;
}
.nav-right a {
  text-decoration: none;
  font-size: 1.2rem;
  color: blueviolet;
}
.login {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 12rem);
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.flexrow {
  display: flex;
  gap: 2rem;
}
.link {
  text-decoration: none;
}
.for-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.footer {
  min-width: 100%;
  min-height: 6rem;
  background-color: black;
}
.logo-txt {
  text-decoration: none;
  color: black;
}
.hero {
  min-width: 100%;
  min-height: calc(100vh - 12rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu {
  min-width: 100%;
  min-height: calc(100vh - 12rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
